
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@mixin fullHeight {
  height: 100%;
}

@mixin floatImageLeft {
  img {
    float: left;
    clear: both;
    border-radius: 25%;
    margin-right: 8px;
  }
}

html {
  max-width: 1600px;
  margin: auto;
  font-family: "Raleway";
  color: #000000;
  @include fullHeight;

  body {
    @include fullHeight;
    > .container {
      margin: 0;

      @include fullHeight;

      width: 100%;
      max-width: none;

      .row {
        margin: auto;
      }

      p {
        margin: 0;
        padding: 0;
      }

      > div.side-container, div.chat-container {
        @include fullHeight;
        float: left;
      }
    }
  }
}

input {
  color: #000000
}


/******************************** LOGIN *******************************/
.login {
  margin: auto;
  display: flex;
  height: 100vh;

  @mixin loginBeforeAfter {
    flex-grow: 1;
    content: ' ';
  }

  &:before {
    @include loginBeforeAfter;
  }
  &:after {
    @include loginBeforeAfter;
  }

  > div {
    padding: 48px 40px 36px;
    width: 42%;
    background-color: #fff;


    .row {

      &.registration{
        margin-top:30px
      }
      &.signin-footer {
        margin: 20px 0 30px;

        a {
          margin-right: 25px;
        }
      }
    }
  }
}

/******************************** SIDE CONTAINER *****************************/
.side-container {
  width: 28%;
//  background-color: #2E2E2E;
  padding: 16px;
  border-right: solid 1px rgba(51,51,51,0.12);
  background-color: #fff3e0;

  .me-header {
    @include floatImageLeft;
    padding: 8px 0;
  }

  .me-thread-list {
    height: calc(100% - 145px);

    ul {

      @include floatImageLeft;

      li {
        padding: 8px 0;
      }

      margin: 0;
    }
  }

  .search {
    padding: 8px 0;
  }

}

/*************************** Chat CONTAINER *****************************/
.chat-container {
//  background-color: #343536  ;
//  background-color: #e0e0e0  ;
//  background-color: #f5f2f0  ;
  width: 72%;
  padding: 16px;
  position: relative;

  .conversation-header {

    padding: 8px 0;
    border-bottom: solid 1px rgba(51,51,51,0.12);

    @include floatImageLeft;

    > .row {
      margin: 0;
    }
  }



  .conversation-body {

    height: calc(100% - 150px);
    padding: 0 0.75rem;
    margin-top: 10px;

    .conversation-thread {
      overflow: auto;

      > .row {
        width: 70%;
        margin: 10px auto 0;

      }

    }

    .bubble {
      padding: 10px 20px;
      position: relative;
      width: 70%;
      clear: both;

      border-radius: 4px;

      &.left {
        margin: 8px 0 8px auto;
      }

      &.right {
        margin: 8px auto 8px 0;
      }

      &.me-bubble {
        background-color: #ffb74d ;
//        background-color: #434242;
      }

      &.other-bubble {

//        background-color: #777777;
        background-color: #fff3e0   ;

      }

      > div:first-child {
        position: absolute;
        content: " ";
        width: 0;
        height: 0;
        border-style: solid;

        &.left-arrow-bubble {
          border-width: 6px 8px 6px 0;
          border-color: transparent #fff3e0 transparent transparent;
          left: -8px;
        }

        &.right-arrow-bubble {
          border-width: 6px 0 6px 8px;
          border-color: transparent transparent transparent #ffb74d;
          right: -8px;
        }
      }
    }

  }

  .conversation-textarea {
    position: absolute;
    bottom: 20px;
    width: 80%;
    margin: auto;
    left:0;
    right: 0;

    textarea {
      resize: none;
      max-height: 100px;
      height: auto;
      border: solid 1px rgba(51,51,51,0.3);
      border-radius: 4px;
      padding: 5px;
      width: 80%;
      background-color: #fff;

      &:focus {
        outline: 0
      }
    }

    button {
      background-color: #ffb74d;
      padding: 8px;
      border-radius: 50%;
      color: #000;
      border: 0;
      line-height: 0;
      position: absolute;
      top: 0;
      margin-left: 5px;

      i {
        color: #ffffff;
        font-size: 16px;
      }
    }
  }

}

/**************************** Media Queries ***********************************/
@media screen and (max-width: 768px) {
  .chat-container {
    .conversation-body {
      .bubble {
        width: 90%;
      }
    }
  }
}

@media screen and (max-width: 600px) {


  .side-container {
    width: 90px;

    .me-header {
      p, i {
        display: none;

      }
    }

    .me-thread-list {
      li p, i {
        display: none;
      }

      ul img {
        float: none;
        margin-right: 0;
      }
    }
  }

  .chat-container {
    width: calc(100% - 90px);

    .conversation-body {
      .conversation-thread {
        > .row {
          width: 90%;
        }
      }
    }
    .conversation-textarea {
      textarea {
        width: 70%;
      }
    }
  }

}